# Dependencias
/node_modules
/.pnpm-store

# Producción y Compilación (Next.js / React)
/.next/
/out/
/build
/dist

# Variables de entorno y secretos (¡NUNCA SUBIR A GIT!)
.env
.env*.local
.env.production
.env.development

# Base de datos local (SQLite) y cliente de Prisma
/prisma/*.db
/prisma/*.db-journal
/src/generated

# Cache y Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.npm
/.eslintcache

# Sistema operativo e IDEs
.DS_Store
Thumbs.db
/.vscode/
/.idea/